{
  "openapi": "3.0.3",
  "info": {
    "title": "SMSBower Client API (Unofficial Wrapper Spec)",
    "version": "1.0.0",
    "description": "OpenAPI-style schema based on https://smsbower.app/api/?page=client"
  },
  "servers": [
    {
      "url": "https://smsbower.page"
    }
  ],
  "paths": {
    "/stubs/handler_api.php": {
      "get": {
        "summary": "Single-entry action API",
        "description": "Use action query param to call SMSBower methods.",
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "action",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "getBalance",
                "getNumber",
                "getStatus",
                "setStatus",
                "getPrices",
                "getServicesList",
                "getCountries",
                "getNumberV2",
                "getPricesV2",
                "getPricesV3"
              ]
            }
          },
          { "name": "id", "in": "query", "required": false, "schema": { "type": "string" } },
          { "name": "status", "in": "query", "required": false, "schema": { "type": "integer", "enum": [1, 3, 6, 8] } },
          { "name": "service", "in": "query", "required": false, "schema": { "type": "string" } },
          { "name": "country", "in": "query", "required": false, "schema": { "type": "string" } },
          { "name": "maxPrice", "in": "query", "required": false, "schema": { "type": "string" } },
          { "name": "providerIds", "in": "query", "required": false, "schema": { "type": "string" } },
          { "name": "exceptProviderIds", "in": "query", "required": false, "schema": { "type": "string" } },
          { "name": "phoneException", "in": "query", "required": false, "schema": { "type": "string" } },
          { "name": "ref", "in": "query", "required": false, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": {
            "description": "Text or JSON response depending on action",
            "content": {
              "text/plain": {
                "schema": { "type": "string" },
                "examples": {
                  "balance": { "value": "ACCESS_BALANCE:10.50" },
                  "number": { "value": "ACCESS_NUMBER:123456:79990001122" },
                  "wait": { "value": "STATUS_WAIT_CODE" },
                  "ok": { "value": "STATUS_OK:12345" },
                  "error": { "value": "BAD_KEY" }
                }
              },
              "application/json": {
                "schema": { "type": "object" },
                "examples": {
                  "numberV2": {
                    "value": {
                      "activationId": "123456",
                      "phoneNumber": "79990001122",
                      "activationCost": "0.12",
                      "countryCode": "1",
                      "canGetAnotherSms": true,
                      "activationTime": "2026-01-01 10:00:00",
                      "activationOperator": "operator_name"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/payment/getActualWalletAddress": {
      "get": {
        "summary": "Get static wallet address",
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "coin",
            "in": "query",
            "required": true,
            "schema": { "type": "string", "enum": ["usdt", "trx"] }
          },
          {
            "name": "network",
            "in": "query",
            "required": true,
            "schema": { "type": "string", "example": "tron" }
          }
        ],
        "responses": {
          "200": {
            "description": "Wallet response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "wallet_address": { "type": "string" }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
